
.timer_container{
   
    margin:auto;
    width:50% ;
    color: rgb(48, 5, 25);
    
  
  
  }
  .timer{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px;
      width: 100%;
      height: 100%;
    border-bottom: 1px solid rgb(207, 207, 207);
  }
  .calendar clock{
      font-size: 8em;
  }
  .timer div:first-child{
      text-align: center;
    
  }
  .timer div:last-child{
        display:flex;
      justify-content: space-between;
      text-align: center;
  
  } 
  .timer p:first-child, .timer div:last-child span{
      font-size:44px;
      margin-top: 15px;
  
  }
  .timer:first-child{
      margin-bottom: 15px;
  }
  