.profile-page {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
  
.profile-log-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-conteiner{
  padding: 20px;
  width: 500px;
  height: 500px;
}

.log-in-inputs{
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
}

.sign-in-btn {
  margin: 10px;
}

.interest-stroke{
  display: flex;
  justify-content: center;
  align-items: center;
}

.or{
  font-weight: bolder;
  font-size: 20px;
}

.terms {
  font-weight: bold;
}

.terms:hover{
  cursor: pointer;
}

.sign-in-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-conteiner{
  width: 1000px;
  height: 500px;
}

.sign-in-strocks{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sign-in-inputs{
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
}

.sign-in-strocks {

}

.signInInputs {
    margin: 10px;
}

.detaile-classes{
    font-weight: bold;
    border-bottom: 1px solid rgb(156, 156, 156);
    padding: 10px;
}

.interests-items{
  padding: 10px;
  margin: 10px;
}

.interests-item{
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 10px;
}

.profile-event-list{
  display: grid;
}

.profilePhoto{
  border: 5px solid rgb(207, 207, 207);
  margin: 10px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  overflow: hidden;
}

.photo{
  position: relative;
  height: 100%;
}

.initials { 
  background-color: chartreuse;
  height: 100%;
  font-size: 100px;
}

.button {
  width: 150px;
  padding: 10px;
  margin: 10px;
  background: none;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 15px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 20px 30px rgba(0,0,0,0.08);
  transform: translateY(-2px);
}

.photo-info{
  display: grid;
}

.profile-head{
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.profile-list-name{
  margin-top: 10px;
  border-bottom: 1px solid rgb(156, 156, 156);
  padding: 10px;
}


