.profilePage {
    background-color: bisque;
    padding: 20px;
}
  
.logIn {
  display: grid;
}

.logInInputs{
  margin: 10px;
}

.logBtn {
  margin: 10px;
}

.or{
  font-weight: bolder;
  font-size: 20px;
}

.terms {
  font-weight: bold;
}

.terms:hover{
  cursor: pointer;
}

.signIn {
  display: grid;
}

.signInInputs {
    margin: 10px;
}

.interests{
    font-weight: bold;
}

.interestsItems{
    margin: 10px;
}



.profilePhoto{
  border: 1px solid rgb(68, 68, 68);
  width: 150px;
  height: 150px;
  border-radius: 75px;
  overflow: hidden;
}

.photo{
  position: relative;
  height: 100%;
}

.event{
  border: 2px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
}

.initials { 
  background-color: chartreuse;
  height: 100%;
  font-size: 100px;
}