*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container{

    max-width: 1300px;
    margin: 0 auto;
   
    }

.wrapper{
    min-height:100%;
    background-color: #eeeded;
    padding: 20px;
    border-end-start-radius: 50px;
    border-end-end-radius: 50px;
}

.form-element{
    display: flex;
    justify-content: space-between; 
    
}

.half{  
    flex-basis: 33%;
}

input,.selectpicker{
    width:100%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(167, 164, 164);
}
 .event{
     display:flex;
   
     
    
     
 }
  .find{
 

 }
 
 .find button{
   /*  margin-top: 20px;
     padding-left: 40px;
     padding-right: 40px;
     padding-bottom:10px;
     padding-top:10px;
     font-size: 20px; */
     margin-top: 20px;
     padding: 12px 27px;
     border-radius: 12px;
     font-size: 1.1rem;
     color: rgb(136, 116, 116);
     background: rgb(235, 225, 227);
     will-change: transform;
     transform: translateY(-4px);
     transition: transform
        600ms
        cubic-bezier(.3, .7, .4, 1);

     
}
.find button:hover{
    filter: brightness(110%);

}

  



.selectpicker:hover{
    background-color: rgb(232, 232, 240);
}

