*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container{

    max-width: 1300px;
    margin: 0 auto;
    }

.wrapper{
    min-height:100%;
    background-color: #eeeded;
    padding: 20px;
    border-end-start-radius: 50px;
    border-end-end-radius: 50px;
}

.form-element{
    display: flex;
    justify-content: space-between; 
    
}

.half{  
    flex-basis: 23%;
}

input,.selectpicker{
    width:100%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(167, 164, 164);
}
.datepicker{
    display:flex;
    justify-content: space-between;
    width: 100%;
    
}



.selectpicker:hover{
    background-color: rgb(232, 232, 240);
}

