*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container{

    max-width: 1300px;
    margin: 0 auto;
    }

.wrapper{
    min-height:400px;
    background-color: #eeeded;
    margin-top: 150px;

}

.form-element{
    display: flex;
    justify-content: space-between; 
    
}

.half{  
    flex-basis: 23%;
}

input,.selectpicker{
    width:100%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(167, 164, 164);
}
.datepicker{
    display:flex;
    justify-content: space-between;
    width: 100%;
    
}



.selectpicker:hover{
    background-color: rgb(232, 232, 240);
}

.find_event{
    background-color: rgb(230, 67, 135);
    color: azure;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}

.find_event:hover{
    background-color: rgb(197, 132, 162);
}

