.new-event-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.new-event-conteiner{
    width: 1000px;
    height: 100%;
    padding: 10px;
}
.new-event-title-inputs{
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


.new-event-inputs{
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
}

.event-title{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.tag-stroke{
    display: grid;
    grid-template-columns: 3fr 3fr;
}

.tag-item{
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 10px;
}

.new-event-stroks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -10px;
  margin-left: -10px;
}

.tag-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-button {
    padding: 10px;
    margin: 10px;
    background: none;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .remove-button:hover {
    cursor: pointer;
    box-shadow: 0px 20px 30px rgba(0,0,0,0.08);
    transform: translateY(-2px);
  }

.event-title-type{
    display: flex;
    justify-content: center;
}

.new-event-selector{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
    width: 200px;
}