.event-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50vw;
    min-width: 250px;
    border: 1px solid black;
    margin: 2em;
    margin-left: 5vw;

}

.gallery img {
    width: 100%;

}

.divider {
    border-top: 3px solid #544f4f;
    width: 100%;
    margin: 0.5em 0;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: flex-start;

}

.description {
    text-align: left;
    padding: 1em 0;
}

.event-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.event-tags a {
    text-decoration: none;
    color: black;
}

.tags p {
    font-family: "Britannic Bold";
}

.event-tags a:hover {
    color: blue;
}

.social-share {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.social-share p {
    padding-right: 15px;
}

.single-event-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar {
    margin: 2em 0;
    width: 25vw;
    min-width: 250px;
}

.event-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    border: 1px solid black;
}

.event-detail-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.event-detail-info label {
    width: 40%;
    text-align: left;
}

.event-head {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.event-head span {
    margin-left: auto;

}


.event-head span {
    background-size: cover;
    width: 32px;
    height: 32px;
    background:  url("../../../assets/img/favourite.png");


}

.event-head span:hover {
    cursor: pointer;
    background:  url("../../../assets/img/favourite1.png");




}


