.checkout-popup {
    position: absolute;
    top: 200px;
    left: 15vw ;
    width: 60vw;
    min-width: 300px;
    padding: 2em;
    /*margin-left: auto;*/
    display: block;
    z-index: 11;
    background: rgba(103, 93, 93, 0.74);

}

.background-popup {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.39);
}

body {
    /*overflow: hidden;*/
}