.search_wrapper {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../Home_img/Home_search_event.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
