.feedback {
    margin-top: 150px;
    margin-bottom: 50px;

}


/*  .contacts_item{
   flex-basis:36%;
   position: relative;
 } */


h3 {
    color: grey;

    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.close-btn {
    position: absolute;
    top: -20px;
    right: 650px;
    width: 20px;

    border-radius: 50%;
    cursor: pointer;


}


/*  .form-element{
   display: flex;
     justify-content: space-between;
    } */

/*  .half{
  flex-basis: 49%;
 }
    */
/*   input{
    width:100%;
    margin-top: 20px;
    padding: 15px;
  } */
.forms {
    position: relative;
    margin-top: 20px;

}


.toggle {
    width: 150px;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    border: 1px solid gray;

}

input.active_input {
    border-color: #885a60;
}

input:hover {
    border-color: #885a60;
}

.msginput {

    padding: 50px 10px;
}


.submit {
    margin-top: 25px;
    background: #885a60;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    width: 150px;
    height: 48px;
}

.submit:hover {
    background: #331e21;;
    color: #fff;
    border: 1 pxsolid #eee;
    box-shadow: 5 px5px5px #eee;
    text-shadow: none;
}


input {
    width: 30%;


}

.stars {
    margin-top: 25px;
    cursor: pointer;
    font-size: 24px;
}
   
    